@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body,html{
  font-family: 'Raleway', sans-serif;
}

h1, h2{
  margin: 5px 0;
}

.node_wrapper{
  display: inline-block;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  color: #2d2d2d;
}

.node_data h1{
  font-size: 1rem;
  font-weight: 400;
}

.node_data h2{
  font-size: .75rem;
  font-weight: 400;
  color: #bbbbbb;
}

.node_btn{
  display: inline-block;
  padding: 5px 15px;
  border: none;
  background-color: #ffe25f;
  box-shadow: inset 1px 3px 5px rgba(0,0,0,.2);
  color: #2d2d2d;
  border-radius: 40px;
  font-size: 12px;
  font-weight: 400px;
  cursor: pointer;
}

.reactOrgChart .orgNodeChildGroup .nodeGroupCell{
  padding: 0 10px;
}